<header class="navBar shadow">
  <div>
    <%= link_to(t('nav.back'), '/', :class => 'navigation') %>
  </div>
  <h1>Localisation</h1>
  <div>
  </div>
</header>
<ul class="services">
  <% @services.each do |service| %>
    <li class="<%= service.name.parameterize[0..10] %>"><%= link_to(service.name, request_path(service)) %></li>
  <% end %>
</ul>
