<% content_for(:back_url, '/') %>
<% content_for(:header_title, "Types d'anomalie") %>
<ul class="services">
  <% @services.each do |service| %>
    <li class="<%= service_css_class(service) %>"><%= link_to(service_name(service), request_path(service)) %></li>
  <% end %>
</ul>
