# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Per-machine configuration
/config/database.yml

# Vim
*.sw?

# Rails
.bundle
db/*.sqlite3
db/*.sqlite3-journal
*.log
tmp
tmp/**/*
.vimrc

# Public Uploads
public/system/*
public/themes/*

# Public Cache
public/javascripts/cache
public/stylesheets/cache

# Vendor Cache
vendor/cache
vendor/bundle