<header class="navBar">
  <h1>Localisation</h1>
</header>
<%= simple_form_for(@request, url: request_path(@request.service)) do |form| %>
  <% @request.service.ordered_attrs.each do |code, attr| %>
    <%= form.input attr.code.to_sym,
      :label => attr.description,
      :as => "open311_#{attr.datatype}",
      :collection => attr.values,
      :label_method => lambda { |v| v['name'] },
      :value_method => lambda { |v| v['key'] },
      :required => attr.required,
      :input_html => { value: nil } %>
  <% end %>
<% end %>
