/* Flexible Slide-to-top Accordion Style*/

.wrapper {
  width: 90%;
  max-width: 800px;
  margin: 30px auto; }

.st-accordion {
  width: 100%;
  min-width: 270px;
  margin: 0 auto;
  ul li {
    position:relative;
    height: 60px;
    border-bottom: 1px solid rgba($lightGradient, 0.4);
    border-top: 1px solid rgba($darkGradient, 0.2);
    overflow: hidden;
    &:first-child {
      border-top: none; }
    > a {
      @include bebas();
      text-shadow: 1px 1px 1px #000;
      font-size: 1.6rem;
      display: block;
      position: relative;
      line-height: 60px;
      outline: none;
      -webkit-transition: color 0.2s ease-in-out;
      -moz-transition: color 0.2s ease-in-out;
      -o-transition: color 0.2s ease-in-out;
      -ms-transition: color 0.2s ease-in-out;
      transition: color 0.2s ease-in-out;
      &:link, &:visited{
        color: $typoColor;
        text-decoration: none;
      }
      span {
        background: transparent url(../img/down.png) no-repeat center center;
        text-indent: -9000px;
        width: 26px;
        height: 14px;
        position: absolute;
        top: 50%;
        right: -26px;
        margin-top: -7px;
        opacity: 0;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
      &:hover {
        color: darken($typoColor, 30%);
        span {
          opacity: 1;
          right: 10px; } } }
    &.st-open > a {
      color: $typoColor;
      span {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        transform: rotate(180deg);
        right: 10px;
        opacity: 1; } } } }

.st-content {
  padding: 5px 0px 30px 0px;
  font-family: Helvetica, Aria, sans-serif;
  p {
    font-size: 16px;
    font-family: Georgia, serif;
    font-style: italic;
    line-height: 28px;
    padding: 0px 4px 15px 4px; }
  img {
    width: 125px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff; } 
  span{
    color: $lightSecondGradient;
    font-weight: bold;
  }
  ul{
    color: $typoColor;
    padding:0 0 0 10px;
    li{
      height:40px;
      line-height: 40px;
      border-bottom: 1px solid lighten($bgColor, 4%);
      border-top: 1px solid darken($bgColor, 4%);
      padding-left:35px;
      @include inline-block;
      min-width:250px;
      margin:0 2%;
      &:last-child{
        border-bottom:0px;
      }
      &.nid{
        background: url(../img/nid.png) no-repeat left center;
        background-size: 1em;
      }
      &.neige{
        background: url(../img/flocon.png) no-repeat left center;
        background-size: 1em;
      }
      &.lampadaire{
        background: url(../img/lampe.png) no-repeat left center;
        background-size: 1em;
      }
      &.trottoir{
        background: url(../img/cone.png) no-repeat left center;
        background-size: 1em;
      }
    }}
  }

.score{
  @include bebas();
  color: $lightSecondGradient;
  font-size: 1.5rem;
  position:absolute;
  top:20px;
  right:52px;
  @media screen and (max-width: 580px) {
    position:relative;
    left:0;
    top:0;
    }
}