/***** 		PROJET'S MODULES 		*****/
.navBar{
    display:block;
    width:100%;
    padding:10px 0;
    background-color: $lightGradient;
    @include filter-gradient($lightGradient, $darkGradient, vertical);
    $experimental-support-for-svg: true;
    @include background-image(linear-gradient(top,  $lightGradient 0%,#60abf8 44%,$darkGradient 100%));
    @include clearfix();
    h2{
        margin-left:10px;
    }
    @media screen and (min-width: $break-large) {
        
    }
}

header{
    position:relative;
    div{
        width:30%;
        &:first-child{
            float:left;
        }
        &:last-child{
            float:right;
        }
    }
    h1{
        display:block;
        float:left;
        width:40%;
        text-align: center;
        @media screen and (min-width: $break-large) {
            background: url(../img/logo.png) no-repeat;
        }
    }
    @media screen and (min-width: $break-large) {
        border-bottom:1px solid $typoColor;
    }
}


a{
    &.navigation{
      @include inline-block;
      float:left;
      padding:3px 20px 0 20px;
      line-height: 30px;
      margin-left:10px;
      @include bebas();
      background:$darkGradient;
      border:1px solid darken($darkGradient, 8%);
      color: $typoColor;
      @include border-radius(10px, 10px);
      &:link, &:visited{
        text-decoration: none;
      }
      &:hover, &:active{
        background:darken($darkGradient, 3%);
      }
    }
}




.spacing{
    margin:15px 0 0 0;
    @media screen and (min-width: $break-large) {
        margin:0;
    }
}




::-webkit-input-placeholder {
    color: #2c2c2c;
    @media screen and (min-width: $break-large) {
        color: #fff;
    }
}
:-moz-placeholder { /* Firefox 18- */
   color: #2c2c2c;  
   @media screen and (min-width: $break-large) {
        color: #fff;
    }
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #2c2c2c;  
   @media screen and (min-width: $break-large) {
        color: #fff;
    }
}
:-ms-input-placeholder {  
   color: #2c2c2c;  
   @media screen and (min-width: $break-large) {
        color: #fff;
    }
}

form{
    fieldset{
        padding:10px;
        @media screen and (min-width: $break-large) {
            padding:0;
        }
    }
    input, textarea, select{
        width:95%;
        border:0px;
        padding:7px;
        margin:10px 0;
        font-family: Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-size: 0.75rem;
        @include border-radius(4px, 4px);
        &[type="submit"]{
            color: $typoColor;
            text-transform: uppercase;
            border:1px solid $darkGradient;
            @include bebas();
            font-size: 1.25rem;
            margin:20px auto 30px auto;
            width:92%;
            @media screen and (min-width: $break-large) {
                width:30%;
                margin-right:40px;
                float:right;
            }
        }
        &[type="radio"]{
            width:auto;
        }
        @media screen and (min-width: $break-large) {
            width:45%;
            float:left;
            margin:7px 0 10px 0;
            &:first-child{
                margin-right:20px;
            }
        }
    }
    textarea{
        height:45px;
        @media screen and (min-width: $break-large) {
            width:98%;
        }
    }
    select{
        width:99%;
        margin:7px 0 10px 0;
        &.datetime{
            width:30%;
            margin-right:5px;
        }
        @media screen and (min-width: $break-large) {
            width:45%;
        }
    }
    label, legend{
        margin-right:10px;
        @include bebas();
        display:none;
        &.datetime, &.radio {
            display:inline;
        }
        &.open311_singlevaluelist{
            margin-top:10px;
            display:block;
            @media screen and (min-width: $break-large) {
                 @include inline-block;
                margin-top:10px;
            }
        }
        @media screen and (min-width: $break-large) {
            @include inline-block;
            margin-top:10px;
        }
    }
    p{
        &#localisation{
            @include bebas();
            font-size:1rem;
            text-align: center;
            margin:10px;
            padding:5px 10px 10px 10px;
        }
        &.help-block{
            font-family: Helvetica, arial, sans-serif;
            font-style: italic;
            text-transform: none;
            font-size:0.75rem;
            margin:0 10px;
            color: darken($typoColor, 35%);
            @media screen and (min-width: $break-large) {
                padding-top:9px;
            }
        }
    }
}
.map_zone{
    position: relative;
    button{
        position: absolute;
        z-index: 10;
        right: 7px;
        top: 7px;
        border: none;
        background-color: $lightGradient;
        @include filter-gradient($lightGradient, $darkGradient, vertical);
        $experimental-support-for-svg: true;
        @include background-image(linear-gradient(top,  $lightGradient 0%,#60abf8 44%,$darkGradient 100%));
        padding: 0;
        @include border-radius(4px);
        span{
            font-size: 22px;
            color: #ffffff;
            padding: 7px 8px 4px 8px;
            display: block;
            @include single-text-shadow;

        }
    }
}
#map_canvas{
    width: 100%;
    height: 200px; 
    border-bottom:3px solid $darkGradient;
    @media screen and (min-width: $break-large){
        height:300px;
    }
}

.invisible{
    display:none;
}


// SERVICES
.shadow{
    position: relative;
    z-index: 2;
    @include single-box-shadow(rgba(0, 0, 0, 0.75), 0px, 2px, 6px, 0px);
}
.services{
    width: 100%;
    @media screen and (min-width: $break-large) {
        width:80%;
        margin:auto;
    }
    li{
        float: left;
        width: 50%;
        background-image: url("../img/noisetexture.png") ;
        text-align: center;
        background-color: #ccc;
        background-position: center bottom;
        @media screen and (min-width: $break-large) {
            padding:50px 0;
        }
    }
    a{
        display: block;
        width: 100%;
        height: 100%;
        padding-top: 110px;
        height: 51px;
        @include bebas();
        color: #ffffff;
        font-size: 22px;
        text-decoration: none;
    }
    .nid-de-poul{
        background-color: #2d2d2d;
        a{
            background: url("../img/nid.png") no-repeat center 25px;
        }
    }
    .trottoir-a-{ 
        background-color: #c86f09;
       a{
            background: url("../img/cone.png") no-repeat center 25px;
        }
    }
    .rue-mal-den{ 
        background-color: #3ea5f3;
       a{
            background: url("../img/flocon.png") no-repeat center 25px;
        }
    }
    .lumiere-de-{ background-color: #d79c28;
       a{
            background: url("../img/lamp.png") no-repeat center 25px;
        }
    }
}
// HOME
.logo{
    background: url("../img/logo.png") no-repeat;
    background-size: 270px 81px;
    width: 270px;
    height: 81px;
    margin: 45px auto;
}
.callAction a{
    display: block;
    width: 95%;
    margin: 0 auto;
    color:#ffffff;
    text-align: center;
    padding: 25px 0;
    font-size:35px;
    @include border-radius(8px);
    background-color: $lightGradient;
    @include filter-gradient($lightGradient, $darkGradient, vertical);
    $experimental-support-for-svg: true;
    @include background-image(linear-gradient(top,  $lightGradient 0%,#60abf8 44%,$darkGradient 100%));
}



@media screen and (min-width: $break-large) {
    .service-attributes{
        width:40%;
        float:left;
        margin-left:9%;
    }
    .contact{
        width:40%;
        float:right;
        margin-right:9%;
    }
}


/*****		END OF MODULES		*****/
