/***** 		PROJET'S VARIABLES 		*****/
$bgColor: #2C2C2C;
$lightGradient: #6DC1FF;
$darkGradient: #3496E1;

$lightSecondGradient: #f99a2a;
$darkSecondGradient: #c66c13;

$typoColor: #ffffff;

$break-large: '1024px';

/*****		END OF VARIABLES		*****/
